<ion-view title="Apply For Credit" class="apply">
  <ion-content class="padding">
    <div class="container">
      <div class="form-header">
        <p>Fill out the form below to apply for a new loan.</p>
      </div>
      <form class="" action="index.html" method="post">
        <label class="padded green">
          <i class="fa fa-check"></i>
          Address
        </label>
        <label class="item item-input">
          <input type="text" placeholder="ex. 5 Piedmont" ng-model="vm.deal.address">
        </label>
        <br/>
        <label class="padded">
          <i class="fa fa-check"></i>
          How much do you need?
        </label>
        <label class="item item-input">
          <input type="text" placeholder="$" value="{{vm.deal.amount | currency}}">
        </label>
      </form>
      <br/>
      <label class="padded">
        <i class="fa fa-check"></i>
        Attach an image of the property.
      </label>
      <div class="img-container">
        <img ng-src="{{vm.deal.photo}}" class"ion-android-image">
      </div>
      <button class="button" ng-click="addMedia()">Upload A New Image</button>

    </div>
  </ion-content>
  <ion-footer-bar class="item-input-inset" ng-click="vm.writeTwitt()">
    <button class="button button-clear" ui-sref="app.thanks" nav-clear menu-close>
      <i class="fa fa-plus"></i>Apply
    </button>
  </ion-footer-bar>

</ion-view>
