<ion-view title="Apply">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-bell-outline" ng-click="vm.showOptions($event)"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="container">
      <h1>Apply for a new loan!</h1>

      <form class="deals" action="index.html" method="post">
        <label class="item item-input item-floating-label">
          <span class="input-label">Address<span>
          <input type="text" placeholder="ex. 5 Piedmont" ng-model="deal.address">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Zip Code<span>
          <input type="text" placeholder="ex. 30307" ng-model="deal.zip_code">
        </label>
        <h4>Upload an image of the property.</h4>
        <button class="button button-full button-energized" ng-click="addMedia()">Add image</button>

        <select name="singleSelect" ng-model="deal.term">
          <option value="">---term---</option> <!-- not selected / blank option -->
          <option value="6 months">6 months</option>
          <option value="9 months">9 months</option>
          <option value="1 year">1 year</option>
          <option value="2 years">2 years</option>
          <option value="3 years">3 years</option>
          <option value="5 years">5 years</option>
        </select>
        <label class="item item-input item-floating-label">
          <span class="input-label">When do you need the funds?</span>
          <input type="text" placeholder="$" ng-model="deal.funded_date">
        </label>
        <select name="singleSelect" ng-model="deal.loan_position">
          <option value="">---Please select Loan Position---</option> <!-- not selected / blank option -->
          <option value="first">First Lien</option>
          <option value="second">Second/Junior lien</option>
        </select>
        <label class="item item-input item-floating-label">
          <span class="input-label">How much do you need?</span>
          <input type="text" placeholder="$" ng-model="deal.amount">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Purchase Price</span>
          <input type="text" placeholder="$" ng-model="deal.purchase_price">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Current Property Value</span>
          <input type="text" placeholder="$" ng-model="deal.current_value">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Borrower Equity</span>
          <input type="text" placeholder="$" ng-model="deal.borrowers_equity">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Value upon completion</span>
          <input type="text" placeholder="$" ng-model="deal.completion_value">
        </label>
        <button ng-click>Submit</button>
    </div>
  </ion-content>
</ion-view>
