<ion-view title="Draw Request" class="draw">
  <ion-content class="padding">
    <div class="container">
      <div class="form-header">
        <p>Fill out the form below to submit a new draw request.</p>
      </div>

      <label class="padded green">
        <i class="fa fa-check"></i>
        Select One Of Your Loans
      </label>
      <label class="item item-input">
        <input type="text" placeholder="ex. 5 Piedmont" ng-model="vm.deal.address">
      </label>
      <br/>
      <label class="padded">
        <i class="fa fa-check"></i>
        How much do you need?
      </label>
      <label class="item item-input">
        <input type="text" placeholder="$" value="{{vm.deal.amount | currency}}">
      </label>
      <br/>
      <label class="padded">
        <i class="fa fa-check"></i>
        What do you need it for?
      </label>
      <label class="item item-input">
        <textarea>I need the money to start the re-model of the bathroom</textarea>
      </label>
      <br/>
      <label class="padded">
        <i class="fa fa-check"></i>
        Attach an image of the property.
      </label>
      <div class="img-container">
        <img src="https://atdc-hackathon.s3.amazonaws.com/sample3.jpg" class"ion-android-image">
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="item-input-inset" ng-click="vm.writeTwitt()">
    <button class="button button-clear" ui-sref="app.tabs.dash">
      <i class="fa fa-plus"></i>Submit
    </button>
  </ion-footer-bar>
</ion-view>
